* {
text-align: center; 
}
.color {
  width: 30px;
  height: 30px;
}
#color-palette {
  max-width: 800px;
  margin: auto;
}
.blackSquared {
  color: black;
  padding: 30px;
  display: inline-block;
  margin-bottom: 30px;
  background-color: black;
  border: solid black 1px;
  margin-left: 40px 40px;
}

.redSquared {
  color: red;
  display: inline-block;
  margin-bottom: 30px;
  padding: 30px;
  background-color: red;
  border: solid black 1px;
  margin-left: 40px 40px;
}

.purpleSquared {
  color: purple;
  padding: 30px;
  display: inline-block;
  margin-bottom: 50px;
  background-color: purple;
  border: solid black 1px;
  margin-left: 40px 40px;
}

.blueSquared {
  color: blue;
  padding: 30px;
  display: inline-block;
  margin-bottom: 30px;
  background-color: blue;
  border: solid black 1px;
  margin-left: 40px 40px;
}

.pixel {
  width: 40px;
  height: 40px;
}

#pixel-board {
 max-width: 570px;
  margin: auto;
}

.blackSquareColum {
  display: inline-block;
  color: white;
  border: solid black 1px;
  background-color: white;
  padding: 30px 30px;
}

.redSquareColum {
  display: inline-block;
  color: white;
  border: solid black 1px;
  background-color: white;
  padding: 30px 30px;
}

.purpleSquareColum {
  display: inline-block;
  color: white;
  border: solid black 1px;
  background-color: white;
  padding: 30px 30px;
}

.blueSquareColum {
  display: inline-block;
  color: white;
  border: solid black 1px;
  background-color: white;
  padding: 30px 30px;
}

.whiteSquareColum {
  display: inline-block;
  color: white;
  border: solid black 1px;
  background-color: white;
  padding: 30px 30px;
}